---
layout: default
---

<p> We try to make code available for all our computational work.<br>
    By clicking on the paper title you can navigate to a complete run through of the available code, and links to the Github repository </p> <br><br><br>


<div class="content list">
    {% for post in site.posts %}
        {% if post.categories contains 'bigeye' and contains 'about' %}
        <div class="list-item">
            <h3 class="list-post-title">
                {{post.title}}</h3>
        </div>
        <p> {{post.content>> </p>
        {% endif %}
    {% endfor %}
</div>
        
        
