---
layout: page
---
<h2> Projects on Github </h2>

<p>We try to make code available for all our computational work. <br>
By clicking on the paper title you can navigate to a complete run through of the available code, and links to the Github repository.</p>

<div class="content list">
    {% for post in site.posts %}
        {% if post.type contains 'about' %}
        <div class="list-item">
            {% for project in site.projects %}
                {% if project.paper contains post.paper %}
                <h3 class="list-post-title">
                    <a class = "name" href={{site.url}}{{project.url}}>{{post.title}}</a></h3>
        </div>
        <p> {{post.content}} </p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
</div>
	
