---
layout: default
---

<div class='container'>
    <header class="masthead text-center">
     <br><br>
        <img class='img-responsive center-block' src="{{site.baseurl}}/images/main/panderichthys.gif" width="80%" height="80%" onmouseover="this.src='{{site.baseurl}}/images/main/tiktaalik.gif'" width="80%" height="80%" onmouseout="this.src='{{site.baseurl}}/images/main/panderichthys.gif'" width="80%" height="80%" />
     <br><br>
      <p style="width: 100%; text-align: justify;"> Our research focuses on extracting principles underlying animal behavior, 
          focusing on interactions between biomechanics, neuronal processing, evolution and sensory system properties. 
          This work is translated into advanced biorobotic systems, and often involves mathematical modelling 
          and large scale simulations that require computing clusters. We are a part of the 
          <a href = "https://robotics.northwestern.edu">Center for Robotics and Biosystems</a> at 
          Northwestern University.</p>
          
      <a href="https://github.com/maciverlab"><i class="fa fa-github"></i> MacIverLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=9H9FROQAAAAJ&hl=en"<i class="fa fa-google"></i> google scholar</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:maciverlab@gmail.com"><i class="fa fa-envelope-o"></i> maciverlab@gmail.com</a>
      </a>
      </p>

    <span style="display: block; margin-bottom: 3em"></span>

    <table class="recent">
        <tr>
            <th style="font-size:300%;">Recent News</th>
            <th style="font-size:300%;">Recent Papers</th> 
        </tr>
        
        <tr>
            <td style="text-align:center; font-size:75%;">
                Updates from the last year. Updated April, 2020</td>
            <td style="text-align:center; font-size:75%;">
                Recently published papers. Updated April, 2020</td>
        </tr>
        
        <tr>
            <td valign="top"><div class="news">
              {% capture now_year %}{{'now' | date: '%Y' | minus: 1 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px;list-style-type:none;">
                {% for new in site.data.news %}
                  {% capture news_year %}{{new.date | slice: 0,4 | plus: 0%}}{% endcapture %}
                  {% if news_year >= now_year %}
                      {% capture news_date %}{{new.date | date: "%Y-%m-%d" %}}{% endcapture %}
                      {% assign details = {{news_date | date: "%b %d, %Y"}} | append: ": " | append: new.details %}
                      <li><span> {{ details }} </span></li>
                  {% endif %}
                {% endfor %}
                </ul>
            </div></td>
            
            <td valign="top"><div class="papers">
                  <ul style="list-style-position:outside;padding:20px;list-style-type:none;" 
                        <li><span><b>Sense organ control in moths to moles is a gamble on information</b>
                          C. Chen, T. D. Murphey, M. A. MacIver.
                          Under revision <i>eLife</i>, 2019.
                          <a style="color:#C4D3F2" href="https://www.biorxiv.org/content/10.1101/826305v1">Preprint available on BioRxiv</a></span></li>
                        <li><span><b>Intersection of motor volumes predicts the outcome of predator-prey interactions</b>
                          K. Bhattacharyya, D. L. McLean, M. A. MacIver.
                          Preprint <i>BioRxiv</i>, 2019.
                          <a style="color:#C4D3F2" href="https://www.biorxiv.org/content/10.1101/626549v1">Preprint</a></span></li>
                        <li><span><b>Arbitrating between planning and habit in naturalistic environments</b>
                          U. Mugan, M. A. MacIver.
                          <i>2019 Conference on Cognitive Computational Neuroscience</i>.
                          <a style="color:#C4D3F2" href="https://doi.org/10.32470/CCN.2019.1415-0">Proceeding</a></span></li>
                        <li><span><b>Superlinear convergence using controls based on second-order needle variations</b>
                          G. Mamakoukas, M. A. MacIver, T. D. Murphey.
                          <i>2018 IEEE Conference on Decision and Control (CDC)</i>.
                          <a style="color:#C4D3F2" href="https://doi.org/10.1109/CDC.2018.8619405">Proceeding</a></span></li>
                        <li><span><b>Feedback synthesis for underactuated systems using sequential second-order needle variations</b>
                          G. Mamakoukas, M. A. MacIver, T. D. Murphey.
                          <i>International Journal of Robotics Research</i>, 2018.
                          <a style="color:#C4D3F2" href="https://doi.org/10.1177%2F02783649187760831">Paper</a></span></li>
                        <li><span><b>How sensory ecology affects the utility of planning</b>
                          U. Mugan, M. A. MacIver.
                          <i>2018 Conference on Cognitive Computational Neuroscience</i>.
                          <a style="color:#C4D3F2" href="https://doi.org/10.32470/CCN.2018.1217-0">Proceeding</a></span></li>
                  </ul>
                </div></td>
        </tr>
    </table>
    
    <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Updates from the last year. Updated April, 2020</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              <ul>
                {% for new in site.data.news %}
                  <li>
                      {{ new.details }}
                  </li>
                {% endfor %}
                </ul>
          </div>
        </div >
      </div>

    <span style="display: block; margin-bottom: 3em"></span>
      
    Dept. of Biomedical Engineering, Dept. of Mechanical Engineering, and Dept. of Neurobiology at Northwestern Unveristy<br>
    Technological Institutue, Center for Robotics and Biosystems, Northwestern University<br>
    2145 Sheridan Rd., Evanston IL 60208, USA (Lab Location: 277)

    <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
