---
layout: default
---

<div class='container'>
    <header class="masthead text-center">
        <img class='img-responsive center-block' src="{{site.url}}/assets/panderichthys.gif" width="70%" height="70%" onmouseover="this.src='{{site.url}}/assets/tiktaalik.gif'" width="70%" height="70%" onmouseout="this.src='{{site.url}}/assets/panderichthys.gif'" width="70%" height="70%" />
     <br><br>
      <p> This is the website dedicated to all code, data, and other supporting materials<br>
      for reproducing results within publications of <a href = " http://nxr.northwestern.edu/people/malcolm-maciver"> MacIver group </a>,<br>
      part of the <a href="http://nxr.northwestern.edu">Neuroscience and Robotics Laboratory</a> at Northwestern Unviersity</p>

      <a href="https://github.com/maciverlab"><i class="fa fa-github"></i> MacIverLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://scholar.google.com/citations?user=9H9FROQAAAAJ&hl=en"<i class="fa fa-google"></i> google scholar</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:maciverlab@gmail.com"><i class="fa fa-envelope-o"></i> maciverlab@gmail.com</a>
      </a>
      </p>
  
    <div class="table">
	<div class="row">
		<div class="cell">
          	<article>
            	<h1>Left Half</h1>
            	<p>Weekends don't count unless you spend them doing something completely pointless.</p>
          	</article>    
        	</div>
		
		<div class="cell">
        	<article>
            	<h1>Right Half</h1>
            	<p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
         	 </article>    
        	</div>
   	 </div>
    </div>

    <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last two months. Updated 11/18/2019</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>
   
    <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
            <div style="text-align:left">
              <h3> Recent Papers </h3>
              <u> Recently published papers. Updated 11/18/2019</u>
              <span style="display: block; margin-bottom: 1em"></span>
              <div class="papers">
                  {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
                  <ul style="list-style-position:outside;padding:20px" >
                    {% for new in site.data.papers %}
                      {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                      {% if date > now %}
                        <li>
                          <span>
                            {{ new.details }}
                          </span>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
              </div>
            </div >
          </div>

    <span style="display: block; margin-bottom: 3em"></span>
      
    Dept. of Biomedical Engineering, Dept. of Mechanical Engineering, and Dept. of Neurobiology at Northwestern Unveristy<br>
    Technological Institutue, Center for Robotics and Biosystems, Northwestern University<br>
    2145 Sheridan Rd., Evanston IL 60208, USA (Lab Location: 277)

    <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
