---
layout: page
---
<h2> Available Data </h2>

<p> Click on the paper title to navigate to the provided data.</p>
try2

<div class="content list">
    {% for post in site.posts %}
    {% if post.type contains 'about' %}
    <div class="list-item">
        {% for av_data in site.data %}
            {% if av_data.paper contains post.paper %}
            <h3 class="list-post-title">
                <a class = "name" href={{site.url}}{{av_data.url}}>{{post.title}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>

