---
layout: page
---
<h2> Available Data </h2>

<p> Click on the paper title to navigate to the provided data.</p>

<div class="content list">
    {% for post in site.posts %}
    {% if post.type contains 'about' %}
    <div class="list-item">
        {% for dat in site.data %}
            {% if dat.paper contains post.paper %}
            <h3 class="list-post-title">
                <a class = "name" href={{site.url}}{{dat.url}}>{{post.title}}</a></h3>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<h3> Literature </h3>

<p>Most of the cited literature except some books and monographs can be found in the literature folder
of the repository of interest. The publications are titled with format: first four letters of author
last name last two digits of publication year and part of the title (eg. MacIver, Malcolm A., Noura M.
Sharabash, and Mark E. Nelson. "Prey-capture behavior in gymnotid electric fish: motion analysis and
effects of water conductivity." *Journal of experimental biology* 204.3 (2001): 543-557.
in pdf form is: MacI01a_prey_capture_behavior_gymanotid_el_4500.pdf) </p>
